# **Python Variables**:-

## **Variables :**-

 Variables are containers for storing data values.

 **Creating Variables:-**

Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

Examples:-


Operator	Description	Syntax
1. Addition: adds two operands	x + y

2. –Subtraction: subtracts two operands	x – y

3. *	Multiplication: multiplies two operands	x * y

4. /	Division (float): divides the first operand by the second	x / y

5. //	Division (floor): divides the first operand by the second	x // y

6. %	Modulus: returns the remainder when the first operand is divided by the second	x % y

7. **	Power: Returns first raised to power second	x ** y

In [ ]:
a= "keerthi"
b= 21

print(a)
print(b)

keerthi
21

In [ ]:
a=7
b=11
# addition
c=a+b
print(c)

18

In [ ]:
#subtraction
c=a-b
print(c)

-4

In [ ]:
#multiplication
c=a*b
print(c)

77

In [ ]:
#division
c=a/b
print(c)

0.6363636363636364

In [ ]:
#floor divison
a=7
b=8.32
c=a//b
print(c)

0.0

In [ ]:
#modulus
a=22
b=10
c=a%b
print(c)

2

In [ ]:
#exponential
a=7
b=3
c=a**b
print(c)

343

## **Python Identifiers**

Python Identifier is the name we give to identify a variable, function, class, module or other object. That means whenever we want to give an entity a name, that's called identifier. Sometimes variable and identifier are often misunderstood as same but they are not.

# **Rules for writing Identifiers in python:-**

 1. Identifiers can be combination of uppercase and lowercase letters, digits or an underscore(_). ...
 2. An Identifier can not start with digit. ...
 3. We can't use special symbols like !,#,@,%,$ etc in our Identifier.
 4. Identifier can be of any length.
 5. Identifiers must start with a letter or underscore ( _ ).

In [ ]:
#valid variables
name_="keerthi"
age_="21"
subject_="python"
zodiac_="libra"
recent_passout="degree"
phone_num="7893175630"
gender_="female"
state_="telangana"
date_of_birth="october 3rd 2002"
nick_name="chintu"
best_friend="prasanna"
number_="1,2,3,4,5,6,7,8,9"
fear_of="computer terminology"
alphabets_="a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z"
blood_group="b+"

print(name_)
print(age_)
print(subject_)
print(zodiac_)
print(recent_passout)
print(phone_num)
print(gender_)
print(state_)
print(date_of_birth)
print(nick_name)
print(best_friend)
print(number_)
print(fear_of)
print(alphabets_)
print(blood_group)

keerthi
21
python
libra
degree
7893175630
female
telangana
october 3rd 2002
chintu
prasanna
1,2,3,4,5,6,7,8,9
computer terminology
a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z
b+

In [2]:
#invalid variables
1st_name = "keerthi"
_age = 21
@class = "python"
if = "false"
$ dollar = "rupee"
finally = "atlast"
institute = "1,2,3"

SyntaxError: invalid decimal literal (<ipython-input-2-8a105f0fcb58>, line 2)